<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Strict//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-strict.dtd">
<html xmlns="http://www.w3.org/1999/xhtml" style="height:100%;">
<head>
<meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
<title>how to height 100%</title>
<style type="text/css">
.one {
	border: 0;
	background-color: gray;
	height: 40px;
	width: 100px;
	margin-left: 10px;
	margin-bottom: -10px;
	z-index: 12;
	position: relative;
	overflow: visible;
}
.oneNested {
	border: 0;
	background-color: red;
	height: 50px;
	width: 80px;
	margin-left: 10px;
	margin-bottom: -10px;
	z-index:9;
	position: relative;
}

.two {
	border: 0;
	background-color: blue;
	height: 40px;
	width: 120px;
	z-index: 11;
	position: relative;
}
</style>
</head>
<body
	style="margin: 0px; background-color: #FEFEFE; height: 100%; overflow: hidden;">
	<div class="one">
		<div class="oneNested">A</div>
	</div>
	<div class="two">B</div>
	<div>Normal Div</div>
	<script type="text/javascript">
		
	</script>
</body>
</html>