<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Strict//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-strict.dtd">
<html xmlns="http://www.w3.org/1999/xhtml" style="height:100%;">
<head>
<meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
<title>top-middle-bottom</title>
<link rel="stylesheet" type="text/css" href="top-middle-bottom.css" />
</head>
<body>
	<div id="box">
		<div id="top">
			<div id="mainIcon">mainIcon</div>
			<ul id="leftMenu" class="menu">
				<li><a href="###">工作事务</a><div class="circleNum">2222</div></li>
				<li><a href="###">会议管理</a></li>
				<li><a href="###">系统管理</a></li>
			</ul>
			<ul id="rightMenu" class="menu">
				<li><a href="###">工作事务</a><div class="circleNum">2</div></li>
				<li><a href="###"><span class="icon"></span></a></li>
				<li><a href="###">系统管理</a></li>
			</ul>
		</div>
		<div id="middle">
			<p>middle</p>
			<p>middle</p>
			<p>middle</p>
			<p>middle</p>
			<p>middle</p>
			<p>middle</p>
			<p>middle</p>
			<p>middle</p>
			<p>middle</p>
			<p>middle</p>
		</div>
		<div id="bottom">
			<p>bottom</p>
		</div>
	</div>
</body>
</html>